/* Styles for the enter information page elements */

.enter-information-container {
    background-color: rgb(0, 0, 0);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.enter-information-container h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
}
.textfield {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}