/* Styles for the body elements */
body {
    background-image: linear-gradient(to right, lightgrey, grey);
    font-family: 'kanit', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
h1, h2 {
    text-align: center;
}

/* Styles for the welcome page */
.welcome-container {
    text-align: center;
    flex-grow: 1;
}
.button-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 50px;
}
.log-in {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: gray;
}
.create-account {
    padding: 10px 20px;
    border-radius: 5px;
}

/* Styles for the home page */

/* Profile Image Styles */
.profile-collapsable {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    text-align: left;
    z-index: 1;
}
.profile-collapsable ul {
    list-style-type: none;  
    position: relative;
    padding: 0;
    margin: 0;
}
.profile-collapsable ul li {
    padding: 8px;
    text-align: center; 
}
.profile-image-container {
    position: relative;
    width: 75px;
    height: 75px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}
.profile-image-container img,
.profile-image img {
    max-width: 75px;
    max-height: 75px;
    object-fit: cover;
    border-radius: 50%;
}
.profile-image {
    cursor: pointer;
    margin-right: 15px;
}
.profile-username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.profile-username h3, .profile-username h4 {
    margin: 0;
    padding: 0;
}
.profile-stats {
    display: none;
    position: absolute;
    top: 70px;
    padding: 15px;
    margin-top: 30px;
    border: solid black;
    width: 150px;
    z-index: 2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile-stats.visible {
    display: flex;
}
.profile-stats ul li {
    padding: 8px;
    text-align: left;
}
.profile-stats button {
    width: 100px;
    padding: 10px;
}
